* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* NAVBAR */
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0 8px 24px rgba(7, 64, 248, 0.2);
    background: rgb(103, 97, 185);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    
}

.header img {
    transition: transform 0.5s ease-in-out;
}

.header:hover img {
    transform: rotate(360deg);
}




.navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;

}

.navbar-link {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

@media (max-width: 832px) {
    .navbar ul {
        background: rgb(16, 31, 80);
        width: 100px;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        font-size: 13px;
    }

    .navbar ul :hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(240, 238, 238, 0.007);
    }
    

    .navbar i {
        display: block;
    }

    #toggle-menu:checked~.navbar-list {
        display: flex;

    }
}
body {
    font-family: 'Roboto', sans-serif;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    }

/* FORMULARIO LOGIN */

.form-login {
    width: 400px;
    height: 340px;
    background-color: #062042;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #015c80;
    color: white;

}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}


.controls {
    width: 100%;
    border: 1px solid #055879;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: #ced4da;
    font-size: 14px;
    font-weight: bold;

}

.button {
    width: 100%;
    height: 40px;
    background-color: #1f53c5;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}

.button {
    cursor: pointer;

}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(103, 97, 185);
    margin-top:10%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(103, 97, 185);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0, 1%;
}

.footer-redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1%;
}

.footer-redes {
    height: 50px;
    width: 50px;
    margin: 1rem;
    padding-top: 2%;
    padding-bottom: 1%;
}
