* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
        background: linear-gradient(to right, #4e4376, #2b5876);
        font-size: 1.6rem;
    
    
    }
/* MENU DE NAVEGADOR */

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(7, 64, 248, 0.2);
    background: rgb(103, 97, 185);
    position: fixed;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}




.header img {
    transition: transform 0.5s ease-in-out;
}

.header:hover img {
    transform: rotate(360deg);
}




.navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navbar {
    display: flex;
    
}

.navbar i {
    display: none;
}

.navbar ul :hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(240, 238, 238, 0.007);
}

#toggle-menu {
    display: none;

}

.navbar-link {
    text-decoration: none;
    color: rgb(255, 255, 255);

}






/* SOBRE NOSOTROS */

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.hero-container {
    display: flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
}

#about-us h2 {
    margin-top: 10%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    color: rgb(252, 252, 252);
}

.img-hero img {
    display: block;
    border: 4px solid rgba(0, 0, 0, 0.548);
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000;

}

.img-hero {


    .ver-mas-img img {
        display: block;
        width: 100%;
        height: auto;


    }


}

.text-hero {
    display: flex;
    max-width: 60%;
    border: 2px solid rgba(47, 58, 107, 0);
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    box-shadow: 7px 13px 37px #000;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 5px;
}

.text-hero p {
    align-self: center;
    color: white;
    line-height: 160%;

}



/* CURSOS */

#cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

#cursos h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    color: whitesmoke;
}

.cursos-container {
    display: flex;
    gap: 1%;
}

.curso img {
    border: 2px solid black;
    border-radius: 8%;


}


.curso img {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.curso:hover img {
    border-color: rgb(129, 152, 214);
    /* Cambiar color del borde al hacer hover */
}


.curso:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(15, 15, 15, 0.1);
}

/* Boton ver más */
#ver-mas {
    border: 2px solid rgb(76, 103, 175);
    border-radius: 10%;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    text-decoration: none;
    background-color: rgb(30, 33, 82);
    color: rgb(248, 243, 243);
    font-weight: bold;
}

#ver-mas :hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(240, 238, 238, 0.007);
}




/* CONTACTO */

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



}

#contacto h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    color: whitesmoke;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    border: 2px solid rgb(49, 46, 97);
    border-radius: 5px;
    width: 50%;

}

.info-contact {
    align-self: center;
    border: 2px solid rgb(61, 33, 85);
    width: 35%;
    border-radius: 5px;
}

.info-contact p {
    margin-top: 15%;
    margin-bottom: 15%;
    color: rgb(226, 222, 236);


}




/* FORMULARIO */
.form-contac {
    width: 50%;
}

.form-contac form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 2px solid rgb(67, 40, 88);
    background-color: #052c5e;
    border-radius: 5px;

}

#nombre,
#apellido,
#tel,
#correo {
    width: 50%;
    border: 2px solid black;
    margin-top: 5%;

}

.info-form {
    display: flex;
    text-align: left;
    align-items: center;
    color: white;


}



.info-form label {
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;

}

.info-form input {
    width: 70%;


}

.consulta {
    margin-top: 6%;
    color: white;
    margin-bottom: 6%;
}

#submit {
    max-width: 50%;
    padding: 2%;
    margin-bottom: 2%;
    align-self: center;
    border: 2px solid blue;
    border-radius: 5px;
    color: rgb(255, 252, 252);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(74, 80, 175);
    background-color: rgb(22, 22, 70);

}

#submit:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(240, 238, 238, 0.007);
}

#text-area {
    margin-right: 15%;
    margin-left: 15%;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    border: 1px solid black;
    border-radius: 5px;



}



/* INFO CURSOS */

.info-cursos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 5%;

}

.ver-mas-img img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 4%;


}

.ver-mas-img {
    max-width: 55%;
}

.info-instrument {
    border: 2px solid rgb(55, 40, 73);
    border-radius: 5px;
    margin-bottom: 3%;

    color: white;
    background: #42275a;

    background: -webkit-linear-gradient(to right, #734b6d, #42275a);

    background: linear-gradient(to right, #734b6d, #42275a);




}

#button-cursos h2 {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: whitesmoke;
}

.button-costo {
    border: 2px solid rgb(76, 103, 175);
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background-color: rgb(55, 57, 95);
    color: rgb(65, 248, 202);
    font-weight: bold;
    margin-top: 4%;

}

.button-costo:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(240, 238, 238, 0.007);
}


/* FOOTER */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(103, 97, 185);
    margin-top: 3%;
}



.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(103, 97, 185);
    padding-top: 1%;
    padding-bottom: 1%;

    margin-top: 0, 1%;


}

.footer-redes-container {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1%;
}

.footer-redes {

    height: 50px;
    width: 50px;
    margin: 1rem;
    padding-top: 2%;
    padding-bottom: 1%;
}


/* Configuracion de imagenes */
.ver-mas-img img,
.img-hero img,
.curso img {
    display: block;
    width: 100%;
    height: auto;

}


/* mediaqueries */


@media (max-width: 978px) {

    #about-us h2 {
        padding-top: 8%;
    }


    .navbar ul {
        background: rgb(16, 31, 80);
        width: 100px;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;



    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked~.navbar-list {
        display: flex;


    }

    .navbar li {
        text-align: center;

    }

}


@media (max-width: 1200px) {
    .cursos-container {
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        justify-content: center;

    }

    .curso {
        margin: 1%;
    }

    .contact-container {
        width: 70%;

    }

    .form-contac {
        width: 40%;

    }


}

@media (max-width: 976px) {
    .img-hero img {
        display: none;
    }

    .hero-container {
        width: 100%;

    }

    .hero-container p {
        padding: 5%;


    }

    .text-hero {
        border-radius: 2%;
        border: 2px solid rgb(27, 4, 90);
    }

    #about-us h2 {
        padding-top: 5%;
    }
}

@media (max-width: 780px) {
    .contact-container {
        width: 80%;

    }

    .info-contact p {
        font-size: 1.5rem;

    }
}

@media (max-width: 660px) {
    .contact-container {
        flex-direction: column;

    }

    .form-contac {
        align-self: center;
        width: 80%;
    }

    .info-form {
        margin-right: 10%;
        margin-left: 20%;
    }

    .info-contact {
        width: 50%;
        margin-top: 10%;
    }
}


@media (max-width: 569px) {
    #about-us h2 {
        padding-top: 10%;
    }

    #cursos h2 {
        padding-top: 5%;
    }

    #contacto h2 {
        padding-top: 5%;
    }

    #button-cursos h2 {
        padding-top: 5%;
    }

    .info-contact {
        width: 65%;
    }

    .info-form {
     margin-left: 10%;
     margin-right: 5%;
    }

      
}


@media (max-width: 412px) {
    .info-cursos-container {
        padding: 0;
    }
   
    .info-cursos-container p{
        font-size: 0.9rem;
    }
    .ver-mas-img {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .info-form {
        margin-right: 2%;
        margin-left: 15%;
    }


    #about-us h2 {
        margin-top: 15%;
    }

    #about-us p{
        font-size: 0.9rem;
    }
    
}